.genreHeader {
  align-items: center;
  gap: 1.3rem;
}

.genreHeader button {
  cursor: pointer;
  border: none;
  background: none;
  color: white;
  opacity: .7;
}

.genreHeader button i {
  font-size: 1.7rem;
}

@media screen and (min-width: 550px) {
  .genreHeader h1 {
    position: relative;
    left: 0;
    top: -1px;
    transform: none;
  }
}