.navbarWrapper {
  background-color: rgb(6, 6, 8);
  border-bottom: 4px solid rgb(63, 66, 85);
}

.linkWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 1.2rem .5rem;
}

.navbarWrapper a {
  font-size: 1.1rem;
  color: rgb(240, 240, 240);
  margin: 0 .5rem;
  text-decoration: none;
}

a.activeLink {
  color: rgb(160, 239, 253);
}

.linkWrapper .logo {
  font-size: 2rem;
  color: rgb(160, 239, 253);
}