.searchWrapper form {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.searchWrapper form input[type=text] {
  outline: none;
  flex: 1;
  padding: .7rem;
  border-radius: 5px;
  background-color: rgb(3, 3, 3);
  border: 2px solid rgba(155, 207, 219, 0.548);
  font-size: 1.2rem;
  color: rgb(212, 212, 212);
}

.searchWrapper form input[type=text]:focus {
  border: 2px solid rgba(155, 207, 219, 0.781);
  outline: none;
}

.formBtnWrapper {
  display: flex;
  gap: .5rem;
}

.searchWrapper form button {
  cursor: pointer;
  color: rgb(160, 239, 253);
  background: none;
  border: 2px solid rgb(160, 239, 253);
  font-size: 1rem;
  border-radius: 10px;
  opacity: .6;
  width: 50%;
  padding: .5rem;
}

.searchWrapper form button:hover {
  opacity: .9;
}

.searchWrapper form button[type=reset] {
  color: rgb(214, 156, 148);
  border: 2px solid rgb(214, 156, 148);
}

@media screen and (min-width: 400px) {
  .searchWrapper form {
    flex-direction: row;
  }

  .searchWrapper form button {
    width: 45px;
  }
}